
# Dependencies
node_modules/

# Build output
dist/
out/
release/*
!release/Trade-Notebook-Setup-1.0.0.exe

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor state
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
